<!--Cart-->
	 <div class="container-fluid" style="margin-top:80px">
		 <div class="row">
			 <div class="col-sm-12">
				 <h1><span class="fa fa-shopping-basket"></span><strong> Your Cart</strong></h1>
			 </div>
		 </div>
		 <div class="row">
			 <div class="col-sm-4">
				 <div class="panel panel-body">
					 <img src="image/bouquet6.jpg" class="img-responsive center-block" width="50%" alt="Image">
				 </div>
			 </div>
			 <div class="col-sm-8">
				 <h3><strong>Lovely Rosie</strong></h3>
				 <h4>Price: 20.00$</h4>
				 <h4>Quantity: 1</h4>
				 <h3><strong>Delivery Service</strong</h3>
				 <h4>Fee: 1.00$</h4></br>
				 <h6 class="text-success">Did you know? Receipt above 40.00$ will get free delivery service.</h6>
				 <a href="index.html" class="btn btn-success"><span class="fa fa-shopping-basket"></span> Continue Shopping</a>
			 </div> 
		 </div>
		 <hr>
		 <div class="row">
			 <div class="col-sm-6">
				 <h3><strong>Total Amount:</strong>&nbsp21.00$</h3>
			 </div>
			 <div class="col-sm-6">
				 <a href="#/ThankYou" class="btn btn-primary"><span class="fa fa-cc-paypal"></span> Confirm Payment</a>
			 </div>	 
		 </div>
	 </div>
